<div class="ui divided grid">
  <div class="five wide column thin border">
    <div class="invoice-box">
      <table class="invoice-table" cellpadding="0" cellspacing="0">
        <tr class="top">
          <td colspan="2">
            <table>
              <tr>
                <td class="title">
                  <img src="../images/logo.png" style="width:100%; max-width:300px;">
                </td>

                <td>
                  <div class="invoice-order-number">Order #: 0</div>
                  Table #: {{tableNumber}}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <div class="table-wrapper">
        <table class="invoice-table" id='orders-table' cellpadding="0" cellspacing="0">
          <tr class="heading">
            <td>
              Item
            </td>

            <td>
              Price
            </td>
          </tr>
        </table>
      </div>
      <table class="invoice-table" id='costs-table' cellpadding="0" cellspacing="0">
        <tr class="total">
          <td></td>
          <td>
            Sub Total: $0
          </td>
        </tr>
        <tr class="total">
          <td></td>
          <td>
            Tax (9.0%): $0.00
          </td>
        </tr>
        <tr class="total">
          <td></td>
          <td>
            Total: $0.00
          </td>
        </tr>
      </table>
      <a href="/">
      <div class="ui large button">
        Back
      </div>
    </a>
      <div class="ui large button">
        Submit Order
      </div>
      <div class="ui large button">
        Check Out
      </div>
    </div>
  </div>
  <div class="eleven wide column">
    <div class="ui pointing secondary menu">
      {{#each menus}}
        {{#if @first}}
          <a class="active item" data-tab="{{@key}}">{{@key}}</a>
        {{else}}
          <a class="item" data-tab="{{@key}}">{{@key}}</a>
        {{/if}}
      {{/each}}
    </div>
    {{#each menus}}
      {{#if @first}}
        <div class="ui active tab segment" data-tab="{{@key}}">
          <div class="ui top attached tabular menu">
            {{#each this}}
              {{#if @first}}
                <a class="active item" data-tab="{{@../key}}/{{@key}}">{{@key}}</a>
              {{else}}
                <a class="item" data-tab="{{@../key}}/{{@key}}">{{@key}}</a>
              {{/if}}
            {{/each}}
          </div>
          {{#each this}}
            {{#if @first}}
              <div class="ui active bottom attached tab segment" data-tab="{{@../key}}/{{@key}}">
                <div class="ui four cards">
                  {{#each this}}
                    <div class="ui raised card" onclick="addOrder(this, {{@root.tableNumber}})" name="{{this.Name}}" cost="{{this.Price}}">
                      <div class="image">
                        <img>
                      </div>
                      <div class="extra">
                        {{this.Name}}
                      </div>
                    </div>
                  {{/each}}
                </div>
              </div>
            {{else}}
              <div class="ui bottom attached tab segment" data-tab="{{@../key}}/{{@key}}">
                <div class="ui four cards">
                  {{#each this}}
                    <div class="ui raised card" onclick="addOrder(this, {{@root.tableNumber}})" name="{{this.Name}}" cost="{{this.Price}}">
                      <div class="image">
                        <img>
                      </div>
                      <div class="extra">
                        {{this.Name}}
                      </div>
                    </div>
                  {{/each}}
                </div>
              </div>
            {{/if}}
          {{/each}}
        </div>
      {{else}}
        <div class="ui tab segment" data-tab="{{@key}}">
          <div class="ui top attached tabular menu">
            {{#each this}}
              {{#if @first}}
                <a class="active item" data-tab="{{@../key}}/{{@key}}">{{@key}}</a>
              {{else}}
                <a class="item" data-tab="{{@../key}}/{{@key}}">{{@key}}</a>
              {{/if}}
            {{/each}}
          </div>
          {{#each this}}
            {{#if @first}}
              <div class="ui active bottom attached tab segment" data-tab="{{@../key}}/{{@key}}">
                <div class="ui four cards">
                  {{#each this}}
                    <div class="ui raised card" onclick="addOrder(this, {{@root.tableNumber}})" name="{{this.Name}}" cost="{{this.Price}}">
                      <div class="image">
                        <img>
                      </div>
                      <div class="extra">
                        {{this.Name}}
                      </div>
                    </div>
                  {{/each}}
                </div>
              </div>
            {{else}}
              <div class="ui bottom attached tab segment" data-tab="{{@../key}}/{{@key}}">
                <div class="ui four cards">
                  {{#each this}}
                    <div class="ui raised card" onclick="addOrder(this, {{@root.tableNumber}})" name="{{this.Name}}" cost="{{this.Price}}">
                      <div class="image">
                        <img>
                      </div>
                      <div class="extra">
                        {{this.Name}}
                      </div>
                    </div>
                  {{/each}}
                </div>
              </div>
            {{/if}}
          {{/each}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>
